@import '../../variables';

.editplan {
  &__back {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__card {
    z-index: 20;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    border-radius: 15px;
  }

  &__form {
    margin: 4rem 2rem 2rem;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    padding: 1.5rem;
    align-items: center;
    color: #616161;

    @media only screen and (max-width: ($bp-small)) {
      padding: 1rem;
    }

    @media only screen and (max-width: ($bp-smallest)) {
      padding: 0rem;
      font-size: 0.9rem;
    }

    & input {
      grid-column: 2 / span 2;
    }

    &__icon {
      grid-column: 2 / span 2;
      margin: 0 auto;
      cursor: pointer;
    }

    input {
      border: none;
      border-bottom: 1px solid rgb(186, 186, 186);
      padding: 0.5rem;

      &:focus {
        outline: none;
      }

      &[type='date'] {
        position: relative;

        &::-webkit-calendar-picker-indicator {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }

      &[type='checkbox'] {
        display: none;
      }
    }

    select {
      border: none;
      border-bottom: 1px solid rgb(186, 186, 186);
      padding: 0.5rem;
      grid-column: 2 / span 2;

      &:focus {
        outline: none;
      }
    }

    &__checkbox {
      grid-column: 1 / span 3;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    & button {
      grid-column: 2 / span 1;
      padding: 0.8rem 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #fff;
      color: #616161;
      font-size: 1.1rem;
      font-weight: 550;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: rgb(94, 53, 177);
        background-color: rgb(237, 231, 246);
      }

      &:active {
        background-color: #fff;
        color: #616161;
      }

      @media only screen and (max-width: ($bp-smallest)) {
        grid-column: 1 / span 3;
      }
    }
  }
}
