.planbox {
  &__wrapper {
    margin-bottom: 0.4rem;
  }

  &__plan {
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 0 0.2rem;
    text-align: left;
    margin-top: 0.1rem;
    line-height: 0.9rem;
    color: #5d5d5d;

    &-wrapper {
      display: flex;
      align-items: center;

      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-left: 0.2rem;
      }
    }
  }
}

// font-size: 0.8rem;
// margin-top: 0.2rem;
// margin-right: 0.2rem;
// display: inline-block;
// width: max-content;
// min-width: 1.3rem;
// min-height: 1.3rem;
// line-height: 1.3rem;
// text-align: center;
