@import '../../variables';

.calendar {
  &__wrapper {
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(227, 242, 253);
    border-radius: 15px;
  }

  &__mainbody {
    display: flex;

    @media only screen and (max-width: ($bp-small)) {
      flex-direction: column;
    }
  }
}
