.cal__detail {
  &__wrapper {
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 15px;
    overflow: hidden;
    color: #5d5d5d;
    position: relative;
  }

  &__card {
    margin-bottom: 1rem;
  }

  &__itemcard {
    &-title {
      margin: 1rem auto 0;
      width: 95%;
      background-color: #f9f9f9;
      border-radius: 15px;
      color: #5d5d5d;
      display: grid;
      grid-template-columns: 2rem repeat(5, 1fr);
      align-items: center;
      justify-items: center;

      p {
        font-weight: 550;
      }
    }

    margin: 1rem auto 0;
    width: 95%;
    height: 2.5rem;
    background-color: #f9f9f9;
    border-radius: 15px;
    color: #5d5d5d;
    display: grid;
    grid-template-columns: 2rem repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;

    &:hover {
      background-color: rgb(255, 248, 225);
    }

    &-id {
      font-weight: 550;
    }

    &-desc {
      grid-column: 2 / span 3;
    }
  }
}
