.calendar__wrapper {
  margin: 1rem;
  padding: 1rem 3rem;
  background-color: rgb(227, 242, 253);
  border-radius: 15px;

  .fc-toolbar-title {
    font-size: 1.5rem;
  }

  .fc-col-header-cell-cushion {
    font-weight: 550;
    font-size: 0.8rem;
  }

  .fc-daygrid-day-number {
    font-weight: 200;
    font-size: 0.9rem;
  }

  .fc-direction-ltr {
    height: 26rem;
  }

  .fc {
    .fc-button-primary {
      color: #000;
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
      transition: all 0.2s ease-in-out;
    }

    .fc-button-primary:hover {
      background-color: grey;
    }

    .fc-button {
      padding: 0.1rem 0.2rem;
      font-size: 0.9rem;

      .fc-icon {
        font-size: 1rem;
      }
    }
  }
}
