.cal__detail {
  &__wrapper {
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 15px;
    overflow: hidden;
    color: #5d5d5d;
    position: relative;
  }

  &__card {
    margin-bottom: 1rem;
  }
}
