.header {
  margin-top: 0.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  justify-content: space-between;

  &__left-items {
    display: flex;
    align-items: center;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: rgb(237, 231, 246);
      cursor: pointer;
      border-radius: 30%;
      width: 35px;
      height: 35px;
      transition: all 0.3s ease-in-out;

      .header__menubar {
        color: rgb(94, 53, 177);
        transition: all 0.3s ease-in-out;
        width: 25px;
        height: 25px;
        stroke-width: 1.2;
      }

      &:hover {
        background-color: rgb(94, 53, 177);

        .header__menubar {
          color: rgb(237, 231, 246);
        }
      }
    }
  }

  &__right-items {
    display: flex;
    align-items: center;

    .header__user {
      font-size: 0.9rem;
      color: #5d5d5d;
      margin-right: 1rem;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: rgb(251, 233, 231);
      cursor: pointer;
      border-radius: 30%;
      width: 35px;
      height: 35px;
      transition: all 0.3s ease-in-out;

      .header__logout {
        color: rgb(216, 67, 21);
        transition: all 0.3s ease-in-out;
        width: 25px;
        height: 25px;
        stroke-width: 1.2;
      }

      &:hover {
        background-color: rgb(216, 67, 21);

        .header__logout {
          color: rgb(251, 233, 231);
        }
      }
    }
  }
}
